/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*variables css*/

:root {
  /*colors*/
  /*colors mode HSL(hue, saturation, lightness)*/
  /*
    Blue: hsl(207, 90%, 61%)
    Purple: hsl(250, 66%, 75%)
    Pink:: hsl(356, 66%, 75%)
    Teal: hsl(174, 63%, 62%)
  */

  --hue: 207;
  --sat: 90%;
  --lig: 61%;

  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*font and typography*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/*responsive typography*/
@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*base*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s; /*for animation dark mode*/
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*theme*/
.changeTheme {
  position: absolute;
  top: 1.5rem;
  right: 0;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: 0.3s;
}

.changeTheme:hover {
  color: var(--first-color);
}

/*variables dark theme*/
body.darkTheme {
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}

/*color changes in some parts of the website, in light theme*/
.darkTheme .buttonGray {
  background-color: var(--container-color);
}

.darkTheme .buttonGray:hover {
  background-color: hsl(var(--hue), 24%, 16%);
}

.darkTheme .filtersContent {
  background-color: var(--container-color);
}

.darkTheme::-webkit-scrollbar {
  background-color: hsl(var(--hue), 8%, 16%);
}

.darkTheme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 24%);
}

.darkTheme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 32%);
}

/*reusable css classes*/
.container {
  width: 100%;
  max-width: 968px;
  padding: 0 1rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/*profile*/
.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profileContainer {
  row-gap: 2rem;
}

.profileData {
  display: grid;
  text-align: center;
}

.profilePerfil {
  width: 100px;
  height: 100px;
  background: #000000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profilePerfil img {
  width: 75px;
}

.profileBorder {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profileName {
  font-size: var(--h2-font-size);
}

.profileProfession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profileSocial {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.profileSocialLink {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}

.profileSocialLink:hover {
  color: var(--first-color);
}

.profileInfo {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profileInfoGroup {
  text-align: center;
}

.profileInfoNumber {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

.profileInfoDescription {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.profileButtons,
.profileButtonsSmall {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileButtons {
  column-gap: 1rem;
}

.profileButtonsSmall {
  column-gap: 0.25rem;
}

/*buttons*/
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.buttonSmall {
  padding: 0.75rem;
  box-shadow: none;
}

.buttonGray {
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.buttonGray:hover {
  background-color: var(--text-color-light);
}

/*filters tabs*/
.filtersContent {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: rem;
}

.filtersButton {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.filtersButton:hover {
  background-color: var(--body-color);
}

/*projects*/
.projectsCard {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projectsCard img {
  width: 100%;
  height: 100%;
}

.projectsModal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 24%, 40%, 0.3) 0%,
    hsla(var(--hue), 24%, 4%, 1) 95%
  );
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

.projectsSubtitle,
.projectsTitle {
  color: #fff;
}

.projectsSubtitle {
  font-size: var(--smallter-font-size);
}

.projectsTitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.projectsButton {
  padding: 0.5rem;
}

.projectsCard:hover .projectsModal {
  bottom: 0;
}

/*skills*/
.skillsContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsDescription {
  text-align: center;
}

.skillsTitle {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skillsBox {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skillsGroup {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skillsData {
  display: flex;
  column-gap: 0.5rem;
}

.skillsData i {
  font-size: 1rem;
  color: var(--first-color);
}

.skillsName {
  font-size: var(--small-font-size);
  font-weight: 500;
  line-height: 18px;
}

.skillsLevel {
  font-size: var(--normal-font-size);
  font-weight: 550;
}

/*hide and show projects & skills*/
.filters [data-content] {
  display: none;
}

.filtersActive[data-content] {
  display: grid;
}

/*activate button filter*/
.filterTabActive {
  background-color: var(--body-color);
}

/*footer*/
.footerCopy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*scroll bar*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(var(--hue), 8%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 44%);
}

/*breakpoints*/
/*for small devices*/
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profileInfo {
    column-gap: 1.5rem;
  }

  .profileButtons {
    flex-direction: column;
    row-gap: 1rem;
  }

  .skillsBox {
    column-gap: 1rem;
  }
}

/*for medium devices*/
@media screen and (min-width: 576px) {
  .projectsContent {
    grid-template-columns: 332px;
    justify-content: center;
  }

  .filtersContent {
    width: 332px;
    margin: 3rem auto;
  }
}

@media screen and (min-width: 776px) {
  .projectsContent,
  .skillsContent {
    grid-template-columns: repeat(2, 332px);
    justify-content: center;
  }

  .skillsContent {
    justifyContent: center;
    columnGap: 3rem;
  }
}

/*for large devices*/
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .changeTheme {
    top: 2.5rem;
    right: 2.5rem;
  }

  .profile {
    padding-top: 4rem;
  }

  .profileBorder {
    width: 135px;
    height: 135px;
    margin-bottom: 1rem;
  }

  .profilePerfil {
    width: 120px;
    height: 120px;
  }
  
  .profilePerfil img {
    width: 90px;
  }

  .profileProfession {
    margin-bottom: 1.5rem
  }

  .profileInfo {
    column-gap: 3rem;
  }

  .profileInfoDescription {
    font-size: var(--small-font-size);
  }

  .profileButtons {
    column-gap: 2rem;
  }

  .projectsContent {
    gap: 2rem 3rem;
  }

  .projectsModal {
    padding: 1.5rem;
  }

  .skillsTitle {
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }

  .footerCopy {
    margin: 4.5rem 0 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .skillsArea {
    max-width: 100%;
  }
}
